.background_signin_signup {
    position: relative;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .container_signin_signup {
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .signin_signup_logo {
            font-family: "Josefin Sans", sans-serif;
            font-size: 50px;
            width: 100px;
            font-weight: bold;
            color: black;
            position: relative;
            z-index: 999;
            cursor: pointer;
        }
    }
}
.blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.signin_forgot_password {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}
.btn_signin {
    border-radius: 20px;
    border: 1px solid #7e33e0;
    background: #7e33e0;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}
.btn_signin:active {
    transform: scale(0.95);
}
.btn_signin:focus {
    outline: none;
}

.ghost {
    background: transparent;
    border-color: #fff;
}
.frame_signin_signup {
    background: white;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    z-index: 99;
    .form_container {
        position: absolute;
        top: 0;
        height: 100%;
        transition: all 0.6s ease-in-out;
        form {
            background: white;
            display: flex;
            flex-direction: column;
            padding: 0 50px;
            height: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
            .social_container {
                margin: 20px 0;
                .social_fb {
                    background: blue;
                    color: white;
                    border: 1px solid #ddd;
                    border-radius: 50%;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 5px;
                    height: 40px;
                    width: 40px;
                    position: relative;
                    .social_fb_login {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border: 1px solid red;
                        opacity: 0;
                    }
                }
                .social_gg {
                    background: red;
                    color: white;
                    border: 1px solid #ddd;
                    border-radius: 50%;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 5px;
                    height: 40px;
                    width: 40px;
                    position: relative;
                    .social_gg_login {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border: 1px solid red;
                        opacity: 0;
                    }
                }
            }

            .span_signin {
                font-size: 12px;
            }
            .error {
                width: 100%;
                text-align: left;
                color: red;
                font-size: 12px;
            }
        }
    }
    .sign_in_container {
        left: 0;
        width: 50%;
        z-index: 2;
    }
    .sign_up_container {
        left: 0;
        width: 50%;
        z-index: 1;
        opacity: 1;
    }
    .overlay_container {
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        overflow: hidden;
        transition: transform 0.6s ease-in-out;
        z-index: 100;
        .overlay {
            background: #7e33e0;
            background: linear-gradient(to right, #fb2e86, #7e33e0) no-repeat 0 0 / cover;
            color: white;
            position: relative;
            left: -100%;
            height: 100%;
            width: 200%;
            transform: translateX(0);
            transition: transform 0.6s ease-in-out;
            .overlay_panel {
                position: absolute;
                top: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 40px;
                height: 100%;
                width: 50%;
                text-align: center;
                transform: translateX(0);
                transition: transform 0.6s ease-in-out;
                .signup_title {
                    font-weight: bold;
                    margin: 0;
                }
                .signup_content {
                    font-size: 14px;
                    font-weight: 100;
                    line-height: 20px;
                    letter-spacing: 0.5px;
                    margin: 20px 0 30px;
                }
                .signin_title {
                    font-weight: bold;
                    margin: 0;
                }
                .signin_content {
                    font-size: 14px;
                    font-weight: 100;
                    line-height: 20px;
                    letter-spacing: 0.5px;
                    margin: 20px 0 30px;
                }
            }
            .overlay_right {
                right: 0;
                transform: translateX(0);
            }
            .overlay_left {
                transform: translateX(-20%);
            }
        }
    }
}
.right_panel_active {
    .sign_in_container {
        transform: translateX(100%);
    }
    .overlay_container {
        transform: translateX(-100%);
        .overlay {
            transform: translateX(50%);
            .overlay_left {
                transform: translateX(0);
            }
            .overlay_right {
                transform: translateX(20%);
            }
        }
    }
    .sign_up_container {
        transform: translateX(100%);
        opacity: 1;
        z-index: 5;
    }
}
